<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <!-- SEO Meta Tags -->
    <meta name="description" content="Your description">
    <meta name="author" content="Your name">

    <!-- OG Meta Tags to improve the way the post looks when you share the page on Facebook, Twitter, LinkedIn -->
 <meta property="og:site_name" content="" /> <!-- website name -->
 <meta property="og:site" content="" /> <!-- website link -->
 <meta property="og:title" content=""/> <!-- title shown in the actual shared post -->
 <meta property="og:description" content="" /> <!-- description shown in the actual shared post -->
 <meta property="og:image" content="" /> <!-- image link, make sure it's jpg -->
 <meta property="og:url" content="" /> <!-- where do you want your post to link to -->
 <meta name="twitter:card" content="summary_large_image"> <!-- to have large image post format in Twitter -->

    <!-- Webpage Title -->
    <title>Yavin Webpage Title</title>
    
    <!-- Styles -->
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;0,700;1,400&display=swap" rel="stylesheet">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/fontawesome-all.min.css" rel="stylesheet">
    <link href="css/swiper.css" rel="stylesheet">
    <link href="css/styles.css" rel="stylesheet">

    <script src="https://kit.fontawesome.com/8dc45e68aa.js" crossorigin="anonymous"></script>

 <!-- Favicon  -->
    <link rel="icon" href="images/favicon.png">
</head>
<body >
    
    <!-- Navigation -->
    <nav id="navbar" class="navbar navbar-expand-lg fixed-top navbar-light" aria-label="Main navigation"  style="background-image: url('images/bg.png'); background-repeat: no-repeat; background-attachment: fixed; background-size: 100%;">
        
        <div class="container">
            <!-- Image Logo -->
            <a class="navbar-brand logo-image" href="index.html"><img src="images/logo.svg" alt="alternative"></a> 


            <button class="navbar-toggler p-0 border-0" type="button" id="navbarSideCollapse" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="navbar-collapse offcanvas-collapse" id="navbarsExampleDefault">
                
                <div style="margin-right: 60%;"></div>
                <span class="nav-item">
                    
                    <a class="home-icons" href="#">
                        <i class="fa-solid fa-house fa-2xl"></i>
                    </a>

                    <a class="home-icons"  href="#">
                        <i class="fa-solid fa-phone fa-2xl"></i>
                    </a>
                </span>
            </div> <!-- end of navbar-collapse -->
        </div> <!-- end of container -->
    </nav> <!-- end of navbar -->
    <!-- end of navigation -->

      
    <!-- Header -->
    <header id="header" class="header" style="background-image: url('images/bg.png'); background-repeat: no-repeat; background-attachment: fixed; background-size: 100%;">
        <div class="container">
            <div class="row">
                <div class="col-lg-7 col-xl-5">
                    <div class="text-container">
                        <p class="hello-word">Hello</p>
                        <br>
                        <h1 class="h1-large">Dr. Ahmad</h1>
                        
                    </div> <!-- end of text-container -->
                </div> <!-- end of col -->
                <div class="col-lg-5 col-xl-7">
                    <div class="image-container">
                    <p class="upper-text">13 Order</p>    
                    </div> <!-- end of image-container -->
                    
                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </header> <!-- end of header -->
    <!-- end of header -->

    



    <div class="container" >
        <center>
            <a class="request-btn" href="#">Request a cast</a>
        </center>
        <br><br><br>
        <h2 style="text-align: left;">Past Orders</h2>
        <h2  style="width: 190px; height: 3px; background-color: #43C6AC;"></h2>
        <div class="table-wrapper-scroll-y my-custom-scrollbar">
            <table class="table text-center">
            <thead>
                <tr>
                    <th scope="col">
                        Order #
                    </th>
                    <th scope="col">
                        Date
                    </th>
                    <th scope="col">
                        Tracking
                    </th>
                    <th scope="col">
                        Feedback
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">
                        Cast #01
                    </th>
                    <td>
                        20/3/2022
                    </td>
                    <td>
                        Order placed | <button class="trash-icon"><i class="fa-solid fa-trash fa-lg"></i></button>
                    </td>
                    <td>
                        <a href="#" class="give-feedback-btn">
                            Give Feedback
                        </a>
                    </td>
                </tr>
                 <tr>
                    <th scope="row">
                        Cast #02
                    </th>
                    <td>
                        19/3/2022
                    </td>
                    <td>
                        Shipping
                    </td>
                    <td>
                        <a href="#" class="give-feedback-btn">
                            Give Feedback
                        </a>
                    </td>
                </tr>
                 <tr>
                    <th scope="row">
                        Cast #03
                    </th>
                    <td>
                        5/3/2022
                    </td>
                    <td>
                        Complete
                    </td>
                    <td>
                        <a href="#" class="your-feedback-btn">
                            Your Feedback
                        </a>
                    </td>
                </tr>
                 <tr>
                    <th scope="row">
                        Cast #04
                    </th>
                    <td>
                        11/1/2022
                    </td>
                    <td>
                        Complete
                    </td>
                    <td>
                        <a href="#" class="your-feedback-btn">
                            Your Feedback
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
        </div>
        
    </div>



    <!-- Back To Top Button -->
    <button onclick="topFunction()" id="myBtn">
        <img src="images/up-arrow.png" alt="alternative">
    </button>
    <!-- end of back to top button -->
  
    <!-- Scripts -->
    <script src="js/bootstrap.min.js"></script> <!-- Bootstrap framework -->
    <script src="js/swiper.min.js"></script> <!-- Swiper for image and text sliders -->
    <script src="js/purecounter.min.js"></script> <!-- Purecounter counter for statistics numbers -->
    <script src="js/scripts.js"></script> <!-- Custom scripts -->
</body>
</html>